.view{
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    border:1px solid #000;
}

.view .container {
    white-space: nowrap;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.view .panel {
    width: 100%;
    min-height: 500px;
    display:inline-block;
}
